<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-body">
        <!-- 提交表单 -->
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">名</label>
                <div class="layui-input-block">
                    <input type="text" name="fristName" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">姓</label>
                <div class="layui-input-block">
                    <input type="text" name="lastName" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">证件号码</label>
                <div class="layui-input-block">
                    <input type="text" name="idNumber" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">国家/地区</label>
                <div class="layui-input-block">
                    <select name="countryRegion">
                        <option value="" selected>Select a country</option>
                        <option value="China">China</option>
                        <option value="America">America</option>
                    </select>
                </div>
                <label class="layui-form-label">证件类型</label>
                <div class="layui-input-block">
                    <select name="idType">
                        <option value="" selected>全部</option>
                        <option value="0">身份证</option>
                        <option value="1">护照</option>
                    </select>
                </div>
                <label class="layui-form-label">实名状态</label>
                <div class="layui-input-block">
                    <select name="status">
                        <option value="">全部</option>
                        <option value="0">已拒绝</option>
                        <option value="1">已通过</option>
                        <option value="2">待审核</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <input type="text" class="layui-input" name="startTime" id="startTime">
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束时间</label>
                    <input type="text" class="layui-input" name="endTime" id="endTime">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        <!-- 数据表格 -->
        <table class="layui-table" lay-filter="identityList">
            <thead>
            <tr>
                <th lay-data="{field:'id', width:100, fixed: 'left'}">用户编号</th>
                <th lay-data="{field:'createTime', width:200, templet: '#createTimeTem'}">申请时间</th>
                <th lay-data="{field:'fristName', width:100}">名</th>
                <th lay-data="{field:'lastName', width:100}">姓</th>
                <th lay-data="{field:'countryRegion', width:100}">国家/地区</th>
                <th lay-data="{field:'idType', width:100, templet: '#idTypeTem'}">证件类型</th>
                <th lay-data="{field:'idNumber', width:200}">证件号码</th>
                <th lay-data="{field:'status', width:100, templet: '#statusTem'}">实名状态</th>
                <th lay-data="{field:'message', width:100, fixed: 'right'}">拒绝理由</th>
                <th lay-data="{width:100, align:'center', toolbar: '#barDemo', align:'center', fixed: 'right'}">操作</th>
            </tr>
            </thead>
        </table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        </script>
        <script type="text/html" id="createTimeTem">
            {{d.createTime}}
            {{#
            var date = new Date();
            date.setTime(d.createTime);
            return date.format("yyyy-MM-dd hh:mm:ss");
            }}
        </script>
        <script type="text/html" id="idTypeTem">
            {{#  if(d.idType == 0){ }}
            身份证
            {{#  } else { }}
            护照
            {{#  } }}
        </script>
        <script type="text/html" id="statusTem">
            {{#  if(d.status == 0){ }}
            已拒绝
            {{#  } else if(d.status == 1) { }}
            已通过
            {{#  } else { }}
            待审核
            {{#  } }}
        </script>
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script src="../../static/js/common.js"></script>
<script>
    //列表
    layui.use('element', function () {
        var element = layui.element;
    });
    //时间
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#startTime',
            value: new Date().monthStartFormat("yyyy-MM-dd")
        });
        laydate.render({
            elem: '#endTime',
            value: new Date().format("yyyy-MM-dd")
        });
    });
    //表单提交
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            console.log(JSON.stringify(data.field))
            initTable(data.field)
            return false;
        });
    });
    (function () {
        var data = {
            fristName: ''
            , lastName: ''
            , countryRegion: ''
            , startTime: ''
            , endTime: ''
            , idType: ''
            , idNumber: ''
            , status: ''
        }
        initTable(data)
    })();

    function initTable(data) {
        //加载列表的后端 url
        var getListUrl = '/user/identity/authentication';
        var tableOptions = {
            width: 1300,
            height: 332,
            url: getListUrl, //请求地址
            method: 'POST', //方式
            contentType: 'application/json',
            where: data,
            id: 'listReload', //生成 Layui table 的标识 id，必须提供，用于后文刷新操作，笔者该处出过问题
            page: true, //是否分页
            response: { //定义后端 json 格式，详细参见官方文档
                statusName: 'code', //状态字段名称
                statusCode: '0', //状态字段成功值
                msgName: 'msg', //消息字段
                countName: 'count', //总数字段
                dataName: 'data' //数据字段
            }
        };

        //
        layui.use(['table', 'layer'], function () {//layui 模块引用，根据需要自行修改
            var layer = layui.layer, table = layui.table;

            //表初始化
            var createTable = function () {
                table.init('identityList', tableOptions);
            };

            //监听工具条
            table.on('tool(identityList)', function (obj) {
                var data = obj.data;
                if (obj.event === 'detail') {
                    layer.msg('ID：' + data.id + ' 的查看操作');
                    //跳转到申请详情/identity/{id}
                    window.location.href = '/user/identity/' + data.id;
                }
            });

            //表刷新方法
            var reloadTable = function (item) {
                table.reload("identityList", { //此处是上文提到的 初始化标识id
                    where: {
                        //key: { //该写法上文已经提到
                        type: item.type, id: item.id
                        //}
                    }
                });
            };

            //表初始化
            createTable();

            //其他和 tree 相关的方法，其中包括 点击 tree 项调用刷新方法
        });
    }
</script>
</body>
</html>