<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="/common/header :: header"></div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © exhub.io
    </div>
</div>
</body>
<script src="../../static/layui/layui.js"></script>
<script>
    //列表
    layui.use('element', function () {
        var element = layui.element;
    });
</script>
</body>
</html>