<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>exhub manager login</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>

<form class="layui-form layui-main" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名：</label>
        <div class="layui-input-block">
            <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码：</label>
        <div class="layui-input-block">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="login">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

</body>
<script src="../static/layui/layui.js"></script>
<script>
    // 登录提交
    layui.use(['form', 'jquery'], function () {
        var form = layui.form,
            jquery = layui.jquery;

        //监听提交
        form.on('submit(login)', function (data) {
            layer.msg(JSON.stringify(data.field));
            jquery.ajax({
                url: 'http://localhost/manager/user/1022/login/record?pageNum=1&pageSize=10',
                type: 'get',
                success: function (res) {
                    layer.msg(JSON.stringify(res))
                }
            });
            return false;
        });
    });
</script>
</html>